.virus-label {
    display: block;
}

.virus-field {
    width: 44.5%;
    display: inline;
}

.virus-form {
    margin-bottom: 2px;
}

.virus-cured-button {
    display: inline;
}

.virus-add-button {
    display: block;
    margin-bottom: 10px;
}