.virus-label {
    display: block;
}

.virus-field {
    display: inline;
}

.transport-field {
    display: inline;
}

.virus-form {
    margin-bottom: 2px;
}

.transport-form {
    display: none;
}

.virus-cured-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.virus-add-button {
    display: block;
    margin-bottom: 10px;
}

.patient-info {
    list-style: none;
    padding-left: 20px;
}

.form-control {
    padding: 0px 12px;
}
