{% extends "base.html" %}

{% block app_content %}
    <h1>Stored Patients so far</h1>
    <table class="table table-bordered virus-table">
        <tr>
            <th>Patient Name</th>
            <th>State</th>
            <th>Age</th>
        </tr>
        {% for patient in patients %}
        <tr>
            <td><a href="{{ url_for('patient', patient_id=patient[0]) }}">{{ patient[1] }} {{ patient[2] }}</a></td>
            <td>{{ patient[5] }}</td>
            <td>{{ patient[9] }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}

